*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: cursive;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background: rgb(252, 238, 240);
    padding: 40px 60px;
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.1);
}
nav{
    display: flex;
    gap: 30px;
    font-size: 18px;
    align-items: center;
}
 a{
    text-decoration: none ;
    color: #000;
    padding: 8px 0;
}
a:hover{
    color: #753939;
}
.tooltip{
    display: inline-block;
    position: relative;
}
.tooltip .tooltip-text{
    visibility: hidden;
    width: 280px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 14px 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 12px;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s, margin-bottom 0.4s;
    box-shadow: 0 14px 15px rgba(0, 0, 0, 0.3);
}
.tooltip .tooltip-text::after{
    position: absolute;
    top: 100%;
    left: 100%;
    margin-left: -8px;
    border-width: 8px 8px 0;
    border-style: solid;
    
}
.tooltip:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
    margin-bottom: 8px;
}

.dot{
    font-size: 50px;
    color: #000;
    margin: 0 10px;
}